* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#Main_Title
{
	text-align: center;
	margin: 0 auto;
	font-size: 60;
	border-bottom: 2px solid black;
}

#Sub_Title
{
	font-size: 25;
	text-align: center;
	position: relative;
	left: 300px;
}

#Nav
{
		width: 70%;
		text-align: center;
		margin-top: 100px;
		margin-left: 200px;
}

#Nav ul
{
	list-style-type: none;
}

#Nav ul li
{
	display: inline;
	font-size: 45px;
}

.gallery {
	margin: 5px;
    float: left;
    width: 180px;
    border: 2px solid grey;
}


.gallery:hover {
    border: 2px solid black;
}

.gallery img {
    width: 100%;
    height: auto;
}

.info 
{
    padding: 15px;
    text-align: center;
}

/* .media {
    padding: 0 6px;
    float: left;
    width: 25%;
} */

@media only screen and (min-width: 1px) and (max-width: 480px){
    {
    	
}

@media only screen and (min-width: 481px) and (max-width: 768px){
    {
    	.media
    	{
    		width: 100%;
    	}
`
}

@media only screen and and (min-width: 769px) (max-width: 992px){
    {
    	.media
    	{
    	width: 49.99999%;
        margin: 6px 0;
    	}
    }

.projects:after {
    content: "";
    display: table;
    clear: both;
}